header{
  background: lime;
  padding: 40px 40px;
}
nav{
  background: blue;
  padding: 40px 40px;
}
.left-item{
  background: orange;
  padding-top: 40px;
  padding-bottom: 40px;
  float:left;
  width: 75%;
  }
.right-item{
  background: purple;
  padding-top: 40px;
  padding-bottom: 40px;
  float:right;
  width: 25%
}
footer{
  background: red;
  padding-top: 40px;
  padding-bottom: 40px;
}
.clearfix{
  clear: both;
}
div{
  background: pink;
  padding: 40px 40px;
}
